{% extends 'base.html' %}
{% block content %}
<div class="col-10 offset-1">
    <br>
    <h2>工事リスト</h2>
    <form method="GET" action="{% url 'construction:construction_list' %}">
        <br>
        <div class="col-6">
            <!-- 日付範囲フィルター -->
            <div class="input-daterange input-group" id="datepicker">
                <div class="input-group-prepend">
                <span class="input-group-text">開始日付</span>
                </div>
                <input type="text" class="input-sm form-control" name="date_from" value="{{ date_from }}">
            
                <div class="input-group-append">
                <span class="input-group-text">終了日付</span>
                </div>
                <input type="text" class="input-sm form-control" name="date_to" value="{{ date_to }}">
            </div>
            <br>
            <!-- サブエリアでフィルター -->
            <p>サブエリア: <input type="text" name="subarea_name" value="{{ subarea_name }}"></p> <!--nameはviewsに渡すときの名前。valueは検索された文字をviewsからcontextとして渡された値-->
            <!-- 昇降順フィルター -->
            <p>開始日時で並び替える：
                昇順<input type="radio" name="order_by_work_start" value="1" {% if ascending %}checked{% endif %}>  <!--'if'は昇順を選択してフィルターかけた際にviewsからのcontextを受けて選択状態で表示-->
                降順<input type="radio" name="order_by_work_start" value="2" {% if descending %}checked{% endif %}>  <!--'if'は降順を選択してフィルターかけた際にviewsからのcontextを受けて選択状態で表示-->
            </p>
            <!-- フィルターボタンで上記条件をGETでrequest -->
            <button type="submit" class="btn btn-secondary">フィルター</button>
        </div>
    </form>
    <br>
    <!-- 工事リストのテーブル -->
    <table class="table table-striped table-bordered">
        <thead>
            <!-- テーブルのカラム名 -->
            <tr>
                <td>計画者</td>
                <td>サブエリア</td>
                <td>工程</td>
                <td>工事名称</td>
                <td>危険項目</td>
                <td>環境リスク</td>
                <td>作業内容</td>
                <td>作業部署/仕入先</td>
                <td>工事担当</td>
                <td>品質確認項目</td>
                <td>品質確認担当</td>
                <td>安全立会</td>
                <td>安全立会担当</td>
                <td>開始日時</td>
                <td>終了日時</td>
                <td>依頼事項/備考</td>
                <td>生産指示ダミー</td>
                <td>号口変化点</td>
                <td>生準変化点</td>
                <td>進捗</td>
            </tr>
        </thead>
        <tbody>
            <!-- TemplateListからobject_list(デフォルトでこの名前)をfor文で取得 -->
            {% for construction in object_list %}
            <tr>
                <!-- constructionに格納されている各フィールドを取得 -->
                <td>{{ construction.person_in_charge.username }}</td>
                <td>{{ construction.subarea.name }}</td>
                <td>{{ construction.process }}</td>
                <td>{{ construction.construction_name }}</td>
                <td>{{ construction.danger_list }}</td>
                <td>{{ construction.environmental_risk|default:"-" }}</td>
                <td>{{ construction.work_content }}</td>
                <td>{{ construction.work_company }}</td>
                <td>{{ construction.work_person }}</td>
                <td>{{ construction.quality_check|default:"-" }}</td>
                <td>{{ construction.quality_check_person|default:"-" }}</td>
                <td>{{ construction.safety_check|default:"-" }}</td>
                <td>{{ construction.safety_check_person|default:"-" }}</td>
                <td>{{ construction.work_start }}</td>
                <td>{{ construction.work_end }}</td>
                <td>{{ construction.note|default:"-" }}</td>
                <td>{{ construction.dummy|default:"-" }}</td>
                <td>{{ construction.goguchi_change|default:"-" }}</td>
                <td>{{ construction.seijun_change|default:"-" }}</td>
                <td>{{ construction.status|default:"-" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}